<div layout="column">
    <div flex ng-include="fileManagerCtrl.config.tplPath + '/navbar.tpl.html'"></div>
    <md-content flex layout-padding>
        <div layout="row">
            <div flex="20" style="min-width: 200px;">
                <div ng-include="fileManagerCtrl.config.tplPath + '/sidebar.tpl.html'"
                     ng-show="fileManagerCtrl.config.sidebar &amp;&amp; fileManagerCtrl.fileNavigator.history[0]">
                </div>
            </div>
            <div flex="80">
                <div layout="column">
                    <div flex ng-include="fileManagerCtrl.config.tplPath + '/current-folder-breadcrumb.tpl.html'"
                         ng-show="fileManagerCtrl.config.breadcrumb"></div>
                    <div flex ng-include="fileManagerCtrl.config.tplPath + '/' + fileManagerCtrl.viewTemplate"></div>
                </div>
            </div>
        </div>
    </md-content>
</div>

<div ng-include="fileManagerCtrl.config.tplPath + '/modals.tpl.html'"></div>
<!--<div ng-include="fileManagerCtrl.config.tplPath + '/item-context-menu.tpl.html'"></div>-->
