<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span ng-click="fileManagerCtrl.fileNavigator.goTo(-1)">File Manager</span>
    </h2>
    <span flex></span>
    <!--<md-input-container md-no-float class="md-block">-->
      <!--<input type="text" ng-show="fileManagerCtrl.config.searchForm" placeholder="{{'search' | translate}}..." ng-model="fileManagerCtrl.query">-->
    <!--</md-input-container>-->
    <md-button class="md-icon-button" aria-label="Favorite" data-toggle="modal" data-target="#newfolder" ng-show="fileManagerCtrl.config.allowedActions.createFolder"
               ng-click="fileManagerCtrl.touch()">
      <md-icon  class="material-icons" >
        create_new_folder
      </md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More" data-toggle="modal" data-target="#uploadfile" ng-show="fileManagerCtrl.config.allowedActions.upload" ng-click="fileManagerCtrl.touch()">
      <md-icon  class="material-icons" >
        file_upload
      </md-icon>
    </md-button>
    <md-button class="md-icon-button"  title="{{'icons' | translate}}" ng-click="fileManagerCtrl.toggleTemplate()">
      <md-icon  class="material-icons" ng-if="fileManagerCtrl.viewTemplate !== 'main-icons.tpl.html'"  >
        view_module
      </md-icon>
      <md-icon  class="material-icons" ng-if="fileManagerCtrl.viewTemplate !== 'main-table.tpl.html'"  >
        view_list
      </md-icon>
    </md-button>
    <md-select class="mode-select"  ng-model="currentLang" ng-change="fileManagerCtrl.changeLanguage(currentLang)">
      <md-option value="en">{{"english" | translate}}</md-option>
      <md-option value="es">{{"spanish" | translate}}</md-option>
      <md-option value="pt">{{"portuguese" | translate}}</md-option>
      <md-option value="fr">{{"french" | translate}}</md-option>
      <md-option value="de">{{"german" | translate}}</md-option>
      <md-option value="he">{{"hebrew" | translate}}</md-option>
    </md-select>


  </div>
</md-toolbar>
