
<md-content style="">
    <section>
        <md-list class="{{fileManagerCtrl.config.cssClasses.sideBarPanelClass}}">

            <md-list-item ng-repeat="item in fileManagerCtrl.fileNavigator.history">
                <div ng-include="'folder-branch-item'" ng-class="{'active': item.name == fileManagerCtrl.fileNavigator.currentPath.join('/')}"></div>
            </md-list-item>

        </md-list>
    </section>
</md-content>



<script type="text/ng-template" id="folder-branch-item">
    <a ng-click="fileManagerCtrl.fileNavigator.folderClick(item.item)" style="cursor:pointer;">
        <md-button class="md-icon-button">
            <md-icon class="material-icons" ng-hide="fileManagerCtrl.isInThisPath(item.name)" style="vertical-align: bottom">folder_open</md-icon>
            <md-icon class="material-icons" ng-show="fileManagerCtrl.isInThisPath(item.name)" style="vertical-align: bottom">folder_close</md-icon>
        </md-button>
        <span>{{ (item.name.split('/').pop() || '/') | strLimit : 24 }}</span>
    </a>
    <md-list  ng-cloak>
        <md-list-item ng-repeat="item in item.nodes">
            <div ng-include="'folder-branch-item'" ng-class="{'active': item.name == fileManagerCtrl.fileNavigator.currentPath.join('/')}"></div>
        </md-list-item>

    </md-list>
</script>

